<div class="footer-dark">
    <footer>
        <div class="container-footer">
            <div class="row-footer">                
                <div class="col-sm-6 col-md-3 item">
                    <h3>Quick Navigation</h3>
                    <ul>
                        <li><a href="/"><ion-icon name="home-outline"></ion-icon>Home</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="/views/about"><ion-icon name="school-outline"></ion-icon>About</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="/views/projects"><ion-icon name="folder-outline"></ion-icon>Projects</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="/views/services"><ion-icon name="layers-outline"></ion-icon>Services</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <a href="/views/contact"><ion-icon name="mail-outline"></ion-icon>Contact Me</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Brandon Devlin Occhiuzzi</h3>                    
                </div>                
            </div>               
            <p4 class="copyright">© Brandon Occhiuzzi 2022</p>
        </div>
        <script src="/jquery/dist/jquery.min.js"></script>
        <script src="/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/javascripts/appclient.js"></script> 
    </footer>    
</div>
