<!-- Brandon Occhiuzzi, #301247390, Assignment 1 - Personal Portfolio, October 7th 2022-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/stylesheets/style.css"> 
    <header>
        <%- include('D:/Centennial/Semester 3/WebAppDev/Assignment1/views/partials/header.ejs'); %> 
    </header>
</head>
  
<body>
    <div class="container">
        <br><br>
        <h1> Your company has needs, I have solutions. <br> This is your gateway to an amazing business relationship.</h1>
        <p><i><u>Together, through teamwork, everything is attainable.</u></i>
            <br><br>
            Enter your contact information with a brief message below and let's begin our journey together.<br><br>
            Brandon Occhiuzzi, 8 Valley Dr. Bracebridge Ontario, 705-380-6180
        </p>

        <form>      
            <input name="name" type="text" class="feedback-input" placeholder="Name" />   
            <input name="email" type="text" class="feedback-input" placeholder="Email" />
            <textarea name="text" class="feedback-input" placeholder="Comment"></textarea>
            <input type="submit" value="SUBMIT"/>
          </form>

    </div>  
        
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
<%- include('D:/Centennial/Semester 3/WebAppDev/Assignment1/views/partials/footer.ejs'); %> 
</html>