<!-- Brandon Occhiuzzi, #301247390, Assignment 1 - Personal Portfolio, October 7th 2022-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
  
<body>
    <header>
        <% include partials/header.ejs %> 
    </header>
    <div class="container">
        <br><br>
        <h4>A few recent projects that I have worked on:</h4>        
        <table class="projectsTable" width="80%">
            <tr>
                <th width="20%"><h2>Project Name</h2></th>
                <th width="20%"><h2>Type of Project</h2></th>
                <th width="20%"><h2>Role</h2></th>
                <th width="20%"><h2>Preview</h2></th>
            </tr>
            <tr>
                <td>NecroMadness</td>
                <td>2D Unity Game, group project</td>
                <td>Game Designer/Programmer</td>
                <td><a href="/images/NecroMadness.png" target="_blank"><img src="/images/NecroMadness.png" width="75%" height="75%"></a></td>
            </tr>
            <tr>
                <td>Title TBD</td>
                <td>2D Unity Game, personal solo project</td>
                <td>Game Designer/Programmer/</td>
                <td><a href="/images/TopDown.png" target="_blank"><img src="/images/TopDown.png" width="75%" height="75%"></a></td>
            </tr>
            <tr>
                <td>Turn Based Strategy</td>
                <td>3D Unity Game, personal solo project</td>
                <td>Game Designer/Programmer</td>
                <td><a href="/images/TurnBased.jpg" target="_blank"><img src="/images/TurnBased.jpg" width="75%" height="75%"></a></td>
            </tr>
            <tr>
                <td>Personal Portfolio</td>
                <td>Web App</td>
                <td>Web Designer/HTML coder</td>
                <td>You're looking at it!</td>
            </tr>
        </table> 
            <br><br>
    </div>  
        
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
<% include partials/footer.ejs %>  
</html>