<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/stylesheets/style.css"> 
    <header>
        <%-include("D:/Centennial/Semester 3/WebAppDev/Assignment1/views/partials/header.ejs"); %>
    </header>
</head>
  
<body>
    <div class="container">
    <br><br>
    <h2>Content will go here</h2>

    </div>  
        
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>