<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Contacts</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
    <link rel='stylesheet' href='/@fortawesome/fontawesome-free/css/all.min.css' />        
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="/stylesheets/style.css">
    
</head>
<body>
    <header>
        <% include ../partials/header.ejs %> 
    </header>
<!-- Content for the Add_Edit page -->

<div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1>Add and Edit</h1>

            <form class="form" method="POST">
                <div class="form-group">
                    <input type="hidden"
                        name="id"
                        value="<%= item._id %>"
                        >                    
                    <label for="itemTextField">Contact Name</label>
                    <input type="text" class="form-control"
                        id="itemTextField"
                        placeholder="Enter Contact Name"
                        name="contactName" 
                        value="<%= item.contactName %>"
                        required>
                </div>
                <br />
                <div class="form-group">
                    <label for="QtyTextField">Contact Number</label>
                    <input type="text" class="form-control"
                    id="QtyTextField"
                    placeholder="000-000-0000"
                    name="contactNumber" 
                    value="<%= item.contactNumber %>"
                    required>
                </div>
                <br />
                <div class="form-group">
                    <label for="statusTextField">Email Address</label>
                    <input type="text" class="form-control"
                    id="statusTextField"
                    placeholder="Enter an Email Address"
                    name="emailAddress" 
                    value="<%= item.emailAddress %>"
                    >
                </div>                
                <br/>
                <div style="text-align: center;"></div>
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-edit"></i> 
                        Submit
                </button>
                
                <a href="/business/list" class="btn btn-warning">
                    <i class="fas fa-undo"></i> 
                    Cancel
                </a>
            </form>
        </div>

    </div>
</div> 
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>  
<% include ../partials/footer.ejs %>  
</body>
</html>